@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body, html{
    margin: 0;
    background-color: #363636;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: 10%;
    min-height: 100px;

    background-color: #212121;
    font-family: Raleway, Aptos, sans-serif;
    color: whitesmoke;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    align-items: center;
}

header * {
    flex: 1;
}

#profile_photo {
    border-radius: 50%;
    height: 80%;
    object-fit: contain;
    margin: auto 20px;
    flex: 0;
}

#title {
    font-size: 3rem;
}

#links {
    height: 80%;
    max-width: 40%;
    margin: auto 20px;
    
    align-self: flex-end;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
}

#links a {
    scale: 2;
    color: whitesmoke;
    margin: auto 20px;
}